<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="first" class="col-xs-12 col-md-12">
      <h1>SIGNUP</h1>
    </div>
  </div>

  <div class="row">
    <div id="physician" class="col-xs-4 col-md-4">
      <h3>Physician</h3>
    </div>
    <div id="therapist" class="col-xs-4 col-md-4">
      <h3>Therapist</h3>
    </div>
    <div id="dme" class="col-xs-4 col-md-4">
      <h3>DME</h3>
    </div>
  </div>

  <div class="row">
    <div id="first" class="col-xs-12 col-md-12">
      <h1>LOGIN</h1>
    </div>
  </div>

  <div class="row">
    <div id="first" class="col-xs-12 col-md-12">
      <%= render "login" %>
    </div>
  </div>

</div>