<div class="row">
  <h1><%= link_to "SIGNUP", new_professional_path %></h1>
</div>

<div class="row">
  <h3>or</h3>
</div>

<div class="row">
  <div id="first" class="col-xs-12 col-md-12">
    <h1>LOGIN</h1>
  </div>
</div>

<div class="row">
  <div id="first" class="col-xs-12 col-md-12">
    <%= render "login" %>
  </div>
</div>

