<div class="row">
  <div id="first" class="col-xs-12 col-md-12">
    <h1>SIGNUP</h1>
  </div>
</div>

<div class="row">
  <div id="physician" class="col-xs-12 col-md-4">
    <h3><%= link_to "Physician", new_physician_path %></h3>
  </div>
  <div class="col-xs-12 col-md-4">
    <h3>or</h3>
  </div>
  <div id="therapist" class="col-xs-12 col-md-4">
    <h3><%= link_to "Therapist", new_therapist_path %></h3>
  </div>
</div>

<div class="row">
  <div id="first" class="col-xs-12 col-md-12">
    <h1>LOGIN</h1>
  </div>
</div>

<div class="row">
  <div id="first" class="col-xs-12 col-md-12">
    <%= render "login" %>
  </div>
</div>

